1.Explain the key features of python that makes it popular choice for programming.

**Readibility and Simplicity**
*   Provide easy syntax to read and understand.
*   Code is simple .


**Extensive libraries and frameworks**

*   Vast collection of libraries andframeworks.
*   Ex:NumPy,Pandas,TensorFlow.

**Versatility**

*  General purpose language used for various application
*  ex:web devlopment,data analysis and Artificial intelligence.

**Dynamic Typing**

*   Allows variables to change types
*   Flexible for different types of devlopment


**INSIGHTS**
Thus above features make python versatile,beginner friendly and well suited for
wide range of applications.

2.Describe the role of predefined keywords in python and provide examples of how they are used in.

**Roles of predefined keywords:**

*   Control flow:

    ex:else,elif,while,for and break.

*   To define function:

    ex:def.

*   Logical operations:

     ex:and,or,in,is.

In [2]:
x=10
if x>10:
  print("x is grater than 10")
elif x==10:
  print("x is equal to 10")
else:
  print("x is less than 10")

x is equal to 10

3.Compare and contrast mutable and immutable objects in python with examples.

**Mutable Objects:**


*   Values can be changed after creation
*   ex: lists ,dictionaries and sets.

**Immutable objects:**


*   Values cannot be changed after creation.
*   ex:strings ,tuples.

In [7]:
#Mutable object :list
my_list = [1,2,3,4]
print(my_list)
my_list.append(5)
print(my_list)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [11]:
#Immutable object:string
my_string="Hello"
print(my_string)
new_string=my_string + " World"
print(new_string)

Hello
Hello World

4.Discuss the different types of operators in python with examples.


**1.Arithmatic operators**


*   Addition

    ex:a+b

*   Subtraction

    ex:a-b


*   Multiplication

    ex:a*b

*   Division

    ex:a/b

*   Modulus

    ex:a%b


*   Exponentiation

    ex:a**b


*   Floor division

    ex:a//b

In [13]:
a=10
b=5
print(a+b)
print(a-b)
print(a*b)
print(a**b)
print(a%b)
print(a//b)
print(a/b)

15
5
50
100000
0
2
2.0

**2.Relational operators**


*   Compares two values
*   Return true or false

In [15]:
a=10
b=4
print(a==b)
print(a!=b)
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)

False
True
True
True
False
False

**3.Assignment Operator**

*   Operators used to assign values to variables

In [16]:
a=5
a+=3
print(a)
a*=2
print(a)
a-=4
print(a)

8
16
12

**4.Logical Operators**


*   Operators are used to combine conditional statements

In [1]:
a=True
b=False
print(a and b)
print(a or b)
print(not a)

False
True
False

**5.Bitwise Operators**


*   Operators used to perform  bit_level operations

In [4]:
a=10
bin(a)

'0b1010'

In [5]:
bin(25)

'0b11001'

In [6]:
a=12
b=10
bin(a&b)

'0b1000'

**Q.5 Explain the concept of type casting in python with examples.**



*   Converting a variable from one data type to another

In [8]:
a=23.53 #int()
int(a)

23

In [9]:
#2.float()
a=23
float(a)

23.0

In [10]:
#3.str()
a=10
str(a)

'10'

In [11]:
#4.list()
a='abc'
list(a)

['a', 'b', 'c']

In [12]:
#5.tuple()
a=[1,2,3]
tuple(a)

(1, 2, 3)

In [13]:
#6.bool()
a=0
b=1
print(bool(a))
print(bool(b))

False
True

**Q.6 Hoe do conditional statements work in python?Illustrate with examples.**



*   It allows to execute specific blocks of code based on whether a condition is true or false

In [14]:
#example
age=25
if age>0:
  if age <18:
    print("You are minor")
  elif 18<= age < 60:
    print("You are an adult")
  else:
    print("You are a senior citizen")
else:
  print("Invalid age")

You are an adult

**Q.7 Describe the different types of loops in python and their use cases with examples.**



*   There are two different types of loops
*   for loops and while loops

**Use case of for and while loop**


* for loop is used to process items in a list and to iterate over the charecters of string
*  while loop is used when a loop execution depends on a condition rather tban a simple sequence

In [15]:
#for loop
a=[1,2,3,4,9]
for num in a :
  print(num)

1
2
3
4
9

In [16]:
#while loop
i=1
while i <=5:
  print(i)
  i+=1

1
2
3
4
5